.container .new-tweet{
	background-color: #eee;
	margin: 0 2em;
	padding: 10px;
	border-radius: 10px;
	box-shadow: .5px .5px 1px 1px #848080;
}

.container textarea{
	padding: 10px;
	width: 100%;
	border-radius: 10px;
}

.new-tweet h2{
  border-bottom: 1px solid;
  box-shadow: 5px 2px 5px  black;
}

.new-tweet .counter{
  float: right;
  font-style: italic;
}